
<div class="col-xs-12 col-sm-6 col-md-4">
<% cache product do %>
    <p><strong>Product:</strong>
        <%= product.name %>
    </p>
        <%= image_tag(product.image_url, class: "img-responsive my-image") %>
    <p><Strong>Description:</Strong>
        <%= product.description %>
    </p>
    <p><strong>Colour:</strong>
        <%= product.colour %>
    </p>
    <p><strong>Price:</strong>
        <%= product.price %>
    </p>
     
    <%= link_to 'Show', product %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
</div><!-- /col -->
  	
