<div id="products">

  <h1>Products</h1>


  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
      <div class="products">
        <div class="col-sm-10 col-lg-4">
          <h3><%= product.name %></h3><%= image_tag("bike1.jpg", class: "img-responsive my-image") %>
          <h4><%= product.price %></h4>
          <p><%= product.description %></p>
        </div>
        <div class="col-sm-10 col-lg-4">
          <%= image_tag("bike2.jpg", class: "img-responsive") %>
        </div>
        <div class="col-sm-10 col-lg-4">
          <%= image_tag("bike3.jpg", class: "img-responsive") %>
        </div>
      </div>
      <% end %>
    </div>
  </div>


  
</div>

<!--
<%= link_to 'New Product', new_product_path %>

-->