<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
  <%= image_tag(@product.image_url, class: "img-responsive my-image") %>
</p>

<P>
  <strong>Colour:</strong>
  <%= @product.colour %>
</P>

<P>
  <strong>Price:</strong>
  <%= @product.price %>
</P>

<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>


<%= link_to('Edit', edit_product_path(@product), class: "btn btn-basic") %>
<%= link_to('Back', products_path, class: "btn btn-basic") %>

<%= render 'new_comment' %>
<%= render 'comments' %>

    <div class="digg_pagination">
      <%= will_paginate @comments %>
    </div>




